@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 243, 240, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-color: #f3f0ff; /* El color lila de fondo */
  color: #1a1a1a;
  min-height: 100vh;
}

/* Estilo para las tarjetas tipo vidrio */
@layer components {
  .glass-card {
    @apply bg-white/80 backdrop-blur-md border border-purple-100 rounded-2xl;
  }
}
